.search {
	width: 100%;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
}

.search-form {
	padding: 0.3rem;
	display: flex;
	justify-content: space-between;
}

.search-icon {
	flex: 0.1;
	margin-top: 0.5rem;
	font-size: 1.1rem;
}

.search-input {
	flex: 1;
	margin-right: 0.5rem;
	border: none;
	font-size: 1rem;
}
.search-input::placeholder {
	font-size: 1rem;
}
.search-input:focus {
	outline: none;
}

.search-btn {
	font-size: 1.03rem;
	padding: 0.6rem 1.4rem;
	border: none;
	background: rgb(28, 105, 230);
	color: #eee;
	border-radius: 5px;
}

@media (max-width: 800px) {
	.search-icon {
		display: none;
	}
	.search-input {
		text-indent: 10px;
	}
}
